<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="img/favicon.ico" />
    <link rel="stylesheet" href="/css/style.css" />
    <title>GARK-Detalhes</title>
  </head>

    <header>
      <nav>
        <img id="img-logo" src="/img/logo.png" alt="logo-gark" />
        <ul>
          <li><a href="/">HOME</a></li>
          <li><a href="/#faixa-titulo">PRODUTOS</a></li>
          <li><a href="/cadastro">CADASTRO</a></li>
        </ul>
      </nav>
    </header>

    <section id="faixa-titulo">
      <div>DETALHES...</div>
    </section>

    <main>

      <section id="detalhes-produtos">
        <div class="imagem-produto">
          <img src= "<%= detalhesSelecionado.imagem %>" alt="imagem-produto" />
        </div>

          <div class="infos-produto">
            <h2 id="titulo"><%= detalhesSelecionado.nome %></h2>
            <p class="infos"><%= detalhesSelecionado.dimensoes %></p>
            <p class="infos"><%= detalhesSelecionado.descricao %></p>
            <p class="preço">R$ <%= detalhesSelecionado.preco %>0 / m²</p>
          </div>
      </section>
    </main>
    <footer>
      <a href="https://github.com/Thais-Mont" target="_blank"
        >Thaís Monteiro -2022 &copy</a
      >
    </footer>

    <script src="js/script.js"></script>
    
  </body>
</html>
