<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <%- include('./components/head') %>
    <title>GARK-Decor</title>
  </head>

  <body onLoad="slide1()">

    <header>
      <%- include('./components/nav') %> 
      <% if(message != "") {%>
      <%-include('./components/alerts') %> 
      <% } %>
    </header>

    <main>
      <section id="home">
        <img id="banner" src="/img-banner/imagem01.jpg" />
      </section>

      <section id="faixa-titulo">
        <div>PRODUTOS</div>
      </section>

      
      <section id="produtos">
      <% loteProdutos.forEach((produto) => { %>

        <div class="cards">

          <div class="dropdown">

            <div class="dropdown-button">
             <i class="bi bi-three-dots-vertical"></i>
            </div>

            <div class="dropdown-content">
              <a id="editar" href="/getById/<%= produto.id %>/put">Editar</a>
              <a id="deletar" href="/getById/<%= produto.id %>/delete">Deletar</a>
            </div>

          </div>

          <a class="card-produto" href="/produtos/<%= produto.id %>">
            <img src= <%= produto.imagem %> alt="imagem-produto" />
            <p><%= produto.nome %></p>
            <p>R$ <%= produto.preco %></p>
          </a>
        </div>
      <% }) %>
    </section>
    </main>

    <% if(produtoPut != null) {%>
      <%- include('./components/modalPut') %>
      <% } %>

      <% if(produtoDel != null) {%>
        <%- include('./components/modalDel') %>
        <% } %>


    <%- include('./components/footer') %>
    
    <script src="js/script.js"></script>
  </body>
</html>
